# Explain the 1,000x Speed Difference when taking theÂ Mean
In this challenge, your goal is to explain why taking the `mean` of the following DataFrame is more than 1,000 faster when using the parameter `numeric_only=True`.

### The Challenge
The `bikes` dataset below has about 50,000 rows. Taking the `mean` of the entire DataFrame returns the mean of all the numeric columns. If we set the parameter `numeric_only` to `True`, the exact same result is returned. But, using the second option results in a speed difference of more than 1,000x, taking the operation from over 40 seconds down to around 15 milliseconds.

The challenge is to explain why there is a speed difference despite each of these operations returning the exact same result. The solution is fairly nuanced and requires a deep understanding of pandas.

In [1]:
import pandas as pd
bikes = pd.read_csv('https://raw.githubusercontent.com/DunderData/Pandas-Challenges/master/data/bikes.csv')
bikes.head()

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Subscriber,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,73.0,10.0,17.3,-9999.0,partlycloudy

In [2]:
bikes.shape

(50089, 19)

In [3]:
bikes.mean()

trip_id             9.472308e+06
tripduration        7.168678e+02
latitude_start      4.190001e+01
longitude_start    -8.764464e+01
dpcapacity_start    2.134022e+01
latitude_end        4.190058e+01
longitude_end      -8.764485e+01
dpcapacity_end      2.124171e+01
temperature         6.260824e+01
visibility          8.148827e+00
wind_speed          7.070111e+00
precipitation      -9.239627e+03
dtype: float64

In [4]:
bikes.mean(numeric_only=True)

trip_id             9.472308e+06
tripduration        7.168678e+02
latitude_start      4.190001e+01
longitude_start    -8.764464e+01
dpcapacity_start    2.134022e+01
latitude_end        4.190058e+01
longitude_end      -8.764485e+01
dpcapacity_end      2.124171e+01
temperature         6.260824e+01
visibility          8.148827e+00
wind_speed          7.070111e+00
precipitation      -9.239627e+03
dtype: float64

In [5]:
%timeit -n 1 -r 1 bikes.mean()

42 s Â± 0 ns per loop (mean Â± std. dev. of 1 run, 1 loop each)

In [6]:
%timeit -n 1 -r 1 bikes.mean(numeric_only=True)

16 ms Â± 0 ns per loop (mean Â± std. dev. of 1 run, 1 loop each)