# Pandas Challenge #3 -

Greatest-n-per-group
* show sql solution
* grouby.nlargest
* drop_duplicates

Put as blog post of just challenge without solution. make available on colab

In [1]:
import pandas as pd

In [2]:
movie = pd.read_csv('../data/movie.csv')

In [3]:
movie.head()

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
0,Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
1,Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
2,Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
3,The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1

In [14]:
%timeit -n 5 movie.groupby('content_rating')['duration'].nlargest(1).droplevel(1)

16 ms ± 588 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [6]:
s = movie.groupby('content_rating')['duration'].nlargest(1)

In [7]:
s.droplevel(1)

content_rating
Approved     251.0
G            226.0
GP           172.0
M            142.0
NC-17        131.0
Not Rated    334.0
PG           271.0
PG-13        280.0
Passed       171.0
R            330.0
TV-14        138.0
TV-G         199.0
TV-MA         64.0
TV-PG         89.0
TV-Y          30.0
TV-Y7         30.0
Unrated      202.0
X            113.0
Name: duration, dtype: float64

In [18]:
m2 = movie[['content_rating', 'duration']]

In [19]:
%%timeit -n 5
m2.sort_values('duration', ascending=False) \
     .drop_duplicates(subset='content_rating')#.sort_values('content_rating')

2.45 ms ± 253 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [20]:
movie.groupby('content_rating').nlargest('duration')

AttributeError: Cannot access callable attribute 'nlargest' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [25]:
movies = movie[['title', 'year', 'content_rating']].dropna().astype({'year':'int'})
movies.head()

                                      title  year content_rating
0                                    Avatar  2009          PG-13
1  Pirates of the Caribbean: At World's End  2007          PG-13
2                                   Spectre  2015          PG-13
3                     The Dark Knight Rises  2012          PG-13
5                               John Carter  2012          PG-13

In [ ]:
movies

In [27]:
movies.head()

                                      title  year content_rating
0                                    Avatar  2009          PG-13
1  Pirates of the Caribbean: At World's End  2007          PG-13
2                                   Spectre  2015          PG-13
3                     The Dark Knight Rises  2012          PG-13
5                               John Carter  2012          PG-13

In [28]:
from functools import partialmethod

In [29]:
pd.DataFrame.head = partialmethod(pd.DataFrame.head, n=3)

In [30]:
movies.head()

                                      title  year content_rating
0                                    Avatar  2009          PG-13
1  Pirates of the Caribbean: At World's End  2007          PG-13
2                                   Spectre  2015          PG-13

In [31]:
type(pd.DataFrame.head)

function

In [33]:
type(movies.tail)

method